.fixed-width-number {
    width: 40px; /* Ajusta el ancho según lo que necesites */
    text-align: center; /* Centra el texto dentro del ancho */
}
.button-group {
    display: flex;
    gap: 10px; /* Ajusta el valor según el espacio que necesites */
}
